.input-ticket-container {
    color: black;
    height: 200px;
    width: 200px;
    background-image: url('luckytickets-resources/red-ticket.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    flex-shrink: 0;
}

.output-ticket-container {
    color: black;
    height: 200px;
    width: 200px;
    background-image: url('luckytickets-resources/blue-ticket.png');
    background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    flex-shrink: 0;
}

.input-number {
    margin-top: 50%;
    width: 50%;
    margin-left: 17%;
    text-align: center;
}

.output-number {
    margin-top: 50%;
    width: 50%;
    margin-left: 17%;
    background-color: white;
    text-align: center;
}

.tickets-container, .buttons-container {
    display: flex;
    padding: 20px;
    width: 50%;
    flex-flow: row wrap;
}

.buttons-container {
    button {
        width: 150px;
        height: 50px;
        margin: 10px;
        flex-shrink: 0;
    }
}